{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navdrop">
  <div class="container">
    <a class="navbar-brand" id="title" href="{% url "home" %}"><img src="{% static 'images/icon.png' %}" alt="EpicOutlet Logo" style="height:25px; width:auto;"> EpicOutlet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active navu" aria-current="page" href="{% url "home" %}"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navu" href="{% url "collection" %}"><i class="fa fa-cubes"></i> Collection</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link navu" href="{% url "cart" %}"><i class="fa fa-shopping-cart"></i> Cart</a>
        </li>
        <li class="nav-item">
              <button class="btn btn-dark navdrop" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user"></i> {{ request.user.username }}
              </button>
              <ul class="dropdown-menu dropdown-menu-dark navdrop" style="right:0; left:auto; top:95%;">
                <li class="nav-item">
                  <a class="nav-link navu" href="{% url "profile" %}"> <i class="fa fa-user"></i> Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navu" href="{% url "logout" %}"> <i class="fa fa-sign-in"></i> Logout</a>
                </li>
              </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <button class="btn btn-dark navdrop" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user"></i> Account
              </button>
              <ul class="dropdown-menu dropdown-menu-dark navdrop" style="right:0; left:auto; top:95%;">
                <li class="nav-item">
                  <a class="nav-link navu" href="{% url "register" %}"> <i class="fa fa-users"></i> Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navu" href="{% url "login" %}"style="margin-start: 10%;"> <i class="fa fa-sign-in"></i> Login</a>
                </li>
              </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>