{% extends "shop/layouts/main.html" %}


{% block title %}
 {{ category_name }} Collections | EpicOutlet
{% endblock title %}

{% block content %}
<section class="py-4 my-5" style="background-color :#C9D6DF;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">{{category_name}} Products</h4>
        <hr style="border-color: #b8bfc2;">
          {% include "shop/inc/message.html" %}
      </div>
       {% for item in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3 shadow-sm img-hover-shadow" style="background-color: #F0F5F9;">
                    <a href="{% url "product_view" category_name item.name %}" class="text-decoration-none text-body d-block">
                    <img src="{{item.product_image.url}}" class="card-img-top category-img" alt="Categories">
                    <div class="card-body" style="margin-bottom:20px;">
                        <h5 class="card-title text-primary">{{item.name}}</h5>
                        <p class="card-text txt-align">
                            <span class="float-start old-pri"><s>Rs.{{ item.orginal_price|stringformat:'d' }}</s></span>
                            <span class="float-end new-pri">Rs.{{ item.selling_price|stringformat:'d' }}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
