{% extends "shop/layouts/main.html" %}


{% block title %}
 {{ category_name }} Collections | EpicOutlet
{% endblock title %}

{% block content %}
<section class="py-4 my-5" style="background-color :#C9D6DF;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">{{category_name}} Products</h4>
        <hr style="border-color: #b8bfc2;">
          {% include "shop/inc/message.html" %}
      </div>
            <form method="GET" class="row g-3 mb-4">

          <!-- Trending -->
          <div class="col-6 order-2 col-md-2 d-flex align-items-center" style="margin-right: -75px !important;">
              {% if trending == '1' %}
                  <!-- If active → remove trending -->
                  <a href="?" class="btn rounded-pill px-3 py-1 btn-primary text-white">
                      <i class="fa fa-fire me-1"></i> Trends
                  </a>
              {% else %}
                  <!-- If not active → enable trending -->
                  <button 
                      type="submit"
                      name="trending"
                      value="1"
                      class="btn rounded-pill px-3 py-1 btn-light">
                      <i class="fa fa-fire me-1"></i> Trends
                  </button>
              {% endif %}
          </div>

          <!-- Vendor -->
          <div class="col-6 col-md-2 order-1">
              <select name="vendor" class="form-select">
                  <option value="">Vendor</option>
                  {% for ven in vendors %}
                  <option value="{{ ven }}"
                      {% if selected_vendor == ven %} selected {% endif %}>
                      {{ ven }}
                  </option>
                  {% endfor %}
              </select>
          </div>

          <!-- Sort -->
          <div class="col-6 col-md-2 order-1">
              <select name="sort" class="form-select">
                  <option value="">Sort by</option>
                  <option value="low_high" {% if sort == "low_high" %} selected {% endif %}>
                      Price Low to High
                  </option>
                  <option value="high_low" {% if sort == "high_low" %} selected {% endif %}>
                      Price High to Low
                  </option>
                  <option value="vendor" {% if sort == "vendor" %} selected {% endif %}>
                      Vendor A → Z
                  </option>
              </select>
          </div>

          <!-- Buttons -->
          <div class="col-6 col-md-2 order-2 custom-width">
              <button type="submit" class="btn btn-warning w-100">
                  <i class="fa fa-filter me-1"></i> Filter
              </button>
          </div>

          {% if request.GET %}
          <div class="col-6 col-md-1 order-2 custom-width">
              <a href="{% url 'collection_view' category_name %}" 
                class="btn btn-secondary w-100">
                  <i class="fa fa-times me-1"></i> Clear
              </a>
          </div>
          {% endif %}

      </form>
       {% for item in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3 shadow-sm img-hover-shadow" style="background-color: #F0F5F9;">
                    <a href="{% url "product_view" category_name item.name %}" class="text-decoration-none text-body d-block">
                    <img src="{{item.product_image.url}}" loading="lazy" class="card-img-top category-img" alt="Categories">
                    <div class="card-body" style="margin-bottom:20px;">
                        <h5 class="card-title text-primary">{{item.name}}</h5>
                        <p class="card-text txt-align">
                            <span class="float-start old-pri"><s>Rs.{{ item.orginal_price|stringformat:'d' }}</s></span>
                            <span class="float-end new-pri">Rs.{{ item.selling_price|stringformat:'d' }}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
